:root {
  --base: #782af5;
  --lighter: #c29cff;
  --hover: #ece0ff;
  --active: #6421d0;
  --text: #252525;
  --white: #fff;
  --disabled: #a8a0b5;
}

html, body {
  height: 100%;
}

body {
  font: 16px "Arial", sans-serif;
  margin: 0;
  background: rgb(120,42,245);
  background: linear-gradient(180deg, rgba(120,42,245,1) 60%, rgba(166,110,254,1) 100%);  
  color: var(--text);
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--lighter);
}

a:hover {
  color: var(--hover);
}

#navBar {
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 24px;
}

.navButton {
  height: 100%;
  width: 50%;
  padding: 12px;
  display: flex;
  justify-content: center;
}

.navButton:hover {
  background-color: var(--hover);
  cursor: pointer;
}

#scoreNavButton {
  margin-left: 4px;
  margin-right: 4px;
}

.navButtonIcon {
  height: 100%;
}

.active {
  background-color: var(--active);
}

.inactive {
  background-color: var(--lighter);
}

.view {
  flex: 1 0 auto;
}

.pageSection {
  padding-bottom: 12px;
}

#controlBar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4px;
  margin-bottom: 24px;
}

.controlButton {
  height: 100%;
  width: 50%;
  padding: 12px;
  display: flex;
  justify-content: center;
}

.controlButtonIcon {
  height: 100%;
}

.enabled {
  background-color: var(--lighter);
}

.enabled:hover {
  background-color: var(--hover);
  cursor: pointer;
}

.disabled {
  background-color: var(--disabled);
}

.disabled:hover {
  cursor: not-allowed;
}

.hidden {
  display: none;
 }
 
.visible {
  display: block;
}

#scoreContainer {
  width: 100%;
  z-index: 0;
  background-color: var(--white);
  cursor: pointer;
}

.defaultViewMessageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.defaultViewMessageContainer div {
  width: 576px;
  height: 288px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.defaultViewMessageContainer h2 {
  font-size: 32px;
}

#defaultScoreViewMessageContainer {
  margin-top: -72px;
}

#defaultLibraryViewMessageContainer {
  margin-top: -12px;
}

#libraryView {
  margin: 16px;
}

.fileView {
	height: 24px;
  display: flex;
  padding: 16px;
	margin-top: 4px;
	margin-bottom: 4px;
	background-color: var(--lighter);
}

.fileView:hover {
	background-color: var(--hover);
	cursor: pointer;
}

.fileView div {
  line-height: 24px;
}

.fileView img {
  height: 24px;
  margin-right: 12px;
}

.fileViewDeleteIcon {
  margin-left: auto;
}

#footer {
  height: 24px;
  display: flex;
  justify-content: center;
  font-size: 12px;
  flex-shrink: 0;
  padding-bottom: 12px;
}

.footerItem {
  margin-left: 8px;
  margin-right: 8px;
}

#githubIconContainer {
  padding-top: 4px;
  height: 24px;
  width: 24px;
}

#githubIconContainer img {
  height: 100%;
}